<meta charset="utf-8"/>
<meta name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no">
<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
<link rel="home" href="{{ siteUrl }}"/>

{% if not craft.config.devMode %}
<link rel="stylesheet"
      href="{{ siteUrl }}styles.min.css?v=1.0"
      type="text/css" media="screen" charset="utf-8">
{% endif %}
<link href="//cloud.webtype.com/css/909c0e2f-d53d-4fe0-bc7f-2df2d78a54e9.css" rel="stylesheet" type="text/css" />

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
      href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ecdfd1">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ecdfd1">

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        })
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
    })(window, document, 'script', 'dataLayer', 'GTM-T7Z39PB')</script>
<!-- End Google Tag Manager -->