{% extends "_layout" %}

{% block content %}

    {% cache %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    Thanks

                </div>
            </div>
        </div>

    {% endcache %}

{% endblock %}
